@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header .nav .item > *:nth-child(2) {
  @apply absolute -right-24 transition-all ease-in-out;
}

header .nav .item:hover > *:nth-child(2) {
  @apply right-2;
}

header .nav .item > *:nth-child(1) {
  @apply transition-all ease-in-out;
}

header .nav .item:hover > *:nth-child(1) {
  @apply scale-110;
}

@layer base {
  html, body {
    @apply max-w-[1920px] mx-auto text-black opacity-100 xl:overflow-x-hidden w-full;
  }
}
